body{
    margin: 0px;
    background-image: linear-gradient(175deg, #0f9fff, #98ffb7);
}
header{
    margin: 0px;
    height: 100px;
    font-size: 20px;
    font-family: "Lato";
    color: white;
    text-align: center;
}
main{
    color: white;
    font-family: "Lato";
    margin: 0% 3%;
    min-height: calc(100vh - 350px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.figuraContainer{
    margin: 25px;
    box-shadow: 5px 5px 18px black;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    background-color: #a871ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figureImage{
    width: 60px;
}
.formFigura{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figuraInputs{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.figuraInputs-texto{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.figuraValueInput{
    height: 25px;
    width: 100px;
    margin: 10px 0px;
    border-radius: 8px;
    border-style: none;
    outline: none;
}
.figureButton{
    background-color: rgba(255, 255, 255, .3);
    font-family: "Lato";
    font-weight: bold;
    font-size: 17px;
    color: white;
    height: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
}
.figureButton:hover{
    cursor: pointer;
}
footer{
    margin: 0px;
    height: 200px;
}